/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.dancing-script {
    font-family: "Dancing Script", cursive!important;
    font-optical-sizing: auto!important;
    font-style: normal!important;
  }

  .barlow {
    font-family: "Barlow", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
  }

  .bellefair {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-weight: 400;
  }
  
  p {
    font-size: 1.125rem;
  }

  a {
    transition: all .3s ease;
  }

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.nav-outer {
    background-color: var(--black);
}

.navbar-toggler {
    border: none;
}

#main-nav .active a {
    color: #ffffff;
}

#main-nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    transition: all .3s;
}
#main-nav .nav-item:hover a{
    /* color: var(--gold); */
    color: #ffffff80;
}

#main-nav .nav-item {
    border-bottom: 1px solid var(--gold);
}
#main-nav .nav-item.active {
   
    background-color: var(--gold);
}
#main-nav .nav-item.active .nav-link, #main-nav .nav-item.active .nav-link svg g polyline {
    color: var(--black);
    fill: var(--black)!important;
    font-weight: 600;
}
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active .nav-link {
     color: var(--gold);
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}
 
.logo-top {
    width: 100%;
}

.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }

.nav-contact a, .nav-contact p {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;

}

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    /*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/* .swiper {
    width: 600px;
    height: 300px;
  } */
.hero {
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.hero .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .bottle {
    position: absolute;
    top: 5%;
    right: 15%;
    width: 35px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8744091386554622) 73%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: top;
    z-index: 99999;
}
.hero-text {
    /* padding: */
    /* z-index: 999; */
    padding-right: 1rem;
    padding-top: 3rem;
    
}
.hero-text p {
    color: #ffffff;
    font-family: "Bellefair", serif;
    font-size: 1.55rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: .25rem;
}


.swiper, .swiper-slide {
    width: 100%;
    height: 100%;
  }

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    position: relative;
    z-index: 99999;
}
.gold-hero {
    width: 90%;
    margin-top: -2rem;
    /* position: absolute; */
    z-index: 99999;
}

.booknow {
    width: 50%;
}

.booknow:hover {
    opacity: .7;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    font-size: .875rem;
    background-color: var(--black);
}

#footer .social-logos a:hover svg g rect {
    fill: var(--gold)!important;
}

footer#footer {
    border-top: 2px solid var(--gold);
}
    footer a span {
        color: var(--gold);
    }

    footer .footer-title {
        font-weight: 400;
    }

    footer .footer-title, footer p, footer ul li {
        color: var(--light);
    }

    footer a {
        color: var(--light);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: #ffffff80;
        }

            footer a:hover span {
                color: #ffffff80;
            }


.footer-title {
    font-size: 1rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--light);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    color: var(--gold);
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

.logo-footer {
    width: 300px;
}

footer .socials img {
    width: 30px;
}
